<div class="container">
  <div class="col">
    <div class="product_page__title">
      <h3> Products</h3>
    </div>
  </div>

  <div class="product_page__dropdown dropdown col-sm-3">
    <select  (change)="onSelectionChange($event)" class="form-select">
      <option [value]="0" selected>---Filter---</option>
      <option *ngFor="let category of categories"
      [value]="category">{{category}}
    </option>
    </select>
  <span> <button class="btn btn-outline-success" (click)="onClear()">Clear</button></span>  
 
  </div>

<!-- cards-->
  <div class="product_page__flex-container">
    <div class="product_page__card" *ngFor="let item of filterdProducts ;let i=index">
      <span><img class="product_page__card--image" [src]="imageSources[i]">
      </span>
      <span> {{item.productName}}</span>
      <span>{{item.description}}</span>
      <span>{{item.unit}}</span>
    </div>
  </div>

</div>