<div class="grid_contents__container container">
  <div class="user-details">
  <div class="row">
    <span class="grid_contents__user">
      <p>
        Welcome:<strong>{{ user }}</strong>
      </p>
    </span>
  </div>
  </div>
<div class="grid_contents__refresh_btn">
  <button class="btn btn-outline-warning" (click)="onRefresh()">Refresh</button>
  <button class="btn btn-outline-danger grid_contents__delete_btn" (click)="removeRow()">Delete Selected</button>
</div>

  <div class="grid_contents">
    <ag-grid-angular
      style="width: 80%; height: 240px"
      class="ag-theme-alpine"
      [rowData]="rowData"
      (rowDoubleClicked)="onDoubleClick()"
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
      rowSelection="single"
    >
    </ag-grid-angular>
  </div>
  <div class="grid_contents__form">
    <form
      class="grid_contents__formitem"
      [formGroup]="productFormGroup"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-3 col-form-label col-form-label-sm"
          >Product Name</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            maxlength="15"
            formControlName="productName"
            placeholder="Enter Product Name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-3 col-form-label col-form-label-sm"
          >Product Category</label
        >
        <div class="col-sm-8">
          <select formControlName="category" class="form-select">
            <option [value]="0" disabled selected>---Select One---</option>
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-3 col-form-label col-form-label-sm"
          >Description</label
        >
        <div class="col-sm-8">
          <textarea
            class="form-control"
            formControlName="description"
            rows="3"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-3 col-form-label col-form-label-sm"
          >Units</label
        >
        <div class="col-sm-8">
          <input
            type="number"
            class="form-control"
            formControlName="unit"
            placeholder="Enter Units"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8 offset-sm-5">
          <button type="submit" class="btn btn-outline-success">{{isEditable?'Modify':'Submit'}}</button>
          <button
            type="button"
            class="btn btn-outline-warning grid_contents__clear-btn"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
