.grid_contents{
    &__container{
        overflow: hidden;
    }
   
    width: 100%;
    margin-left: 10%;
    &__clear-btn{
        margin-left: 10px;;
    }

   &__form{
       display: flex;
       justify-content:center;
       border: 1px solid #1e1f1f33; 
        margin: 2%;
        margin-left: 10%;
        margin-right: 10%;
   }

   &__formitem{
       margin-bottom: 20px;
   }
   &__clear-btn{
       margin-left: 10px;
   }

}
.col-form-label{
    width: 33%;
}
.form-group{
    padding-top: 10px;
}